html {
  background-color: #F08080;
}

body {

  font-family: 'RobotoDraft', 'Roboto',
  height: 100vh;
}

a {
	color: #00264d;
	display:inline-block;
	text-decoration: none;
	font-weight: 400;
}
h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display:inline-block;
	margin: 40px 8px 10px 8px; 
	color: #0d0d0d;
	border-bottom: 2px solid #cc66ff;
}

h1 {
	text-align: center;
	font-size:30px;
	text-transform: uppercase;
	margin: 40px 8px 10px 8px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}



#formContent {
	
	  border-radius: 2px 2px 5px 5px;
	  padding: 10px 20px 20px 20px;
	  width: 100%;
	  max-width: 1200px;
	  background: rgba(0,0,0,.5);
	  position: relative;
	  padding-bottom: 80px;
	  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

#formFooter {
	background-color:#f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

 button[type=submit]  {
	background-color: #eeccff;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0
	rgba(255, 204, 255,0.4);
	box-shadow: 0 10px 30px 0 rgba(255, 204, 2550.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

 button[type=submit]:hover {
  background-color: #cc66ff;
}

input[type=text] , input[type=password], input[type=email]{
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
 	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus , input[type=password]:focus{
  background-color: #fff;
  border-bottom: 2px solid #ffccff;
}

input[type=text]:placeholder  , input[type=password]:placeholder {
  color: #cccccc;
}





.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

*:focus {
    outline: none;
}

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}
